---
layout: default
---

{{ content | safe }}

<h2>Table des matières</h2>

{% from "table_of_contents.njk" import renderNavListItem %}

{% set navPages = collections.all | eleventyNavigation %}
<ul>
  {%- for entry in navPages %}{{ renderNavListItem(entry) }}{%- endfor -%}
</ul>
