---
layout: default
---

<h1>{{ eleventyNavigation.title }}</h1>

{{ content | safe }}

<hr>

<div class="post-metadata">
  page mise à jour le <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
</div>

<button class="js-scroll-to-top sm:hidden">
  Remonter en haut de la page ⤴️
</button>
