{% set navPages = collections.all | eleventyNavigation %}

{% macro renderNavListItem(entry) -%}
  {%- set current = entry.url == page.url %}
  <li class="toc-item{% if current %} current{% endif %}">
		{%- if current -%}
    	{{ entry.title }}
		{%- else -%}
    	<a href="{{ entry.url }}">{{ entry.title }}</a>
		{%- endif -%}
    {%- if entry.children.length -%}
      <ul>
        {%- for child in entry.children %}{{ renderNavListItem(child) }}{% endfor -%}
      </ul>
    {%- endif -%}
  </li>
{%- endmacro %}


<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">

		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">

		<meta name="generator" content="{{ eleventy.generator }}">

		<link rel="stylesheet" href="/css/new-custom.css">
		<script src="/js/main.js" defer></script>
	</head>
	<body>

		<header>
			<div class="row">
				<h1>
					<a href="/">{{ metadata.title }}</a>
				</h1>
				<div class="sm:hidden">
					<button class="js-menu-toggle">☰ Menu</button>
				</div>
			</div>
			<div class="menu js-menu">
				<ul>
					{%- for entry in navPages %}{{ renderNavListItem(entry) }}{%- endfor -%}
				</ul>
			</div>
		</header>

		<main>
			<div class="sidebar-col">
				<div class="sidebar">
					<ul>
						{%- for entry in navPages %}{{ renderNavListItem(entry) }}{%- endfor -%}
					</ul>
				</div>
			</div>
			<div class="main-col">
				{{ content | safe }}
			</div>
		</main>

		<footer></footer>

		<!-- This page `{{ page.url | htmlBaseUrl }}` was built on {% currentBuildDate %} -->

		{% mermaid_js %}
	</body>
</html>
