<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">

		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">

		<meta name="generator" content="{{ eleventy.generator }}">

		<link rel="stylesheet" href="/css/new.css">
		<link rel="stylesheet" href="/css/style.css">
	</head>
	<body>

		<header>
			<div class="row">
				<a href="#skip" class="visually-hidden">Aller au contenu principal</a>
				<h1>{{ metadata.title }}</h1>
				<h2 class="visually-hidden">Menu principal</h2>
				<nav>
					{%- for entry in collections.topLevelPages | eleventyNavigation %}
						{% if entry.url == page.url %}
							<span>{{entry.title}}</span>
						{% else %}
							<a href="{{ entry.url }}">
								{{ entry.title }}
							</a>
						{% endif %}
					{%- endfor %}
				</nav>
			</div>
			{% if page.url != "/" %}
				{% include "breadcrumbs.njk" %}
			{% endif %}
		</header>

		<main id="skip">
			{{ content | safe }}
		</main>

		<footer></footer>

		<!-- This page `{{ page.url | htmlBaseUrl }}` was built on {% currentBuildDate %} -->

		{% mermaid_js %}
	</body>
</html>
