/* NEW CSS overrides */

h1 { font-size: 1.3rem; }
h2 { font-size: 1.2rem; }
h3 { font-size: 1.1rem; }
h4 { font-size: 1rem; }
h5 { font-size: 1rem; }
h6 { font-size: 1rem; }

@media (prefers-color-scheme: dark) {
  :root {
    --nc-ac-1: #8a6d04;
  }
}

@media (prefers-color-scheme: dark) {
  a,
  header nav span {
    color: #FFD845;
  }

  a:hover {
    color: #e0b002;
  }
}

img {
  height: auto;
}

/* HEADER */

header {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;

  nav {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }

  h1 {
    margin: 0;
    padding: 0;
  }
}


/* FOOTER */

footer {
  margin: 4rem calc(50% - 50vw) 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: calc(50vw - 50%);
  padding-right: calc(50vw - 50%);;
  background-color: var(--nc-bg-2);
	border-top: 1px solid var(--nc-bg-3);

  nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1.5rem;
    align-items: center;
    flex-wrap: wrap;

    a {
      flex-shrink: 0;
      display: flex;
      gap: .5rem;
      align-items: center;
    }

    svg {
      fill: rgb(99, 99, 99);
      width: 20px;
      vertical-align: middle;

      @media (prefers-color-scheme: dark) {
        fill: rgb(216, 216, 216);
      }
    }
  }
}

/* force footer to stay at the bottom */

body {
  box-sizing: border-box;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
}

main {
  flex: 1;
}

/* UTILITIES */

mark {
  display: inline-flex;
  align-items: center;
  gap: .5rem;
  padding: 0 .2rem;

  svg {
    height: .8rem;
  }
}

main a:not([href^="/"])::after,
footer p a:not([href^="/"])::after {
  content: ' ↗';
  display: inline;
}

/* specific to eleventy blog template */

.links-nextprev {
  margin-top: 4rem;
}

.visually-hidden{
  display: none;
}
