---
layout: layouts/base.njk
eleventyNavigation:
  key: Accueil
  order: 1
numberOfLatestPostsToShow: 3
---
{% set postsCount = collections.articles | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h1>Derniers {{ latestPostsCount }} articles</h1>

{% set postslist = collections.articles | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>{{ morePosts }} autres articles à retrouver dans la liste.</p>
{% endif %}
