---
layout: layouts/base.njk
---

<h1>{{ eleventyNavigation.title }}</h1>

{% from "table_of_contents.njk" import renderNavListItem %}

{# {{ eleventyNavigation.key }} #}

{# {{ key }} #}

{{ content | safe }}


{%- set children = collections.all | eleventyNavigation(eleventyNavigation.key) %}

<hr>
<hr>

{% if children | length %}
  <h2>Contenus enfants</h2>
  {% set navPages = collections.all | eleventyNavigation(eleventyNavigation.key) %}
  <ul>
    {%- for entry in navPages %}{{ renderNavListItem(entry) }}{%- endfor -%}
  </ul>
{% else %}
  <h2>Navigation</h2>
{% endif %}
{% include "breadcrumbs.njk" %}
